<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시물 등록</h2>
    </div>

    <form action="post.html" th:action th:object="${form}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
            <label for="itemName">제목</label>
            <input type="text" id="itemName" th:field="*{subject}"
                   th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요">
            <div class="field-error" th:errors="*{subject}">
                상품명 오류
            </div>
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" th:field="*{nickname}"
                   th:errorclass="field-error" class="form-control" placeholder="닉네임을 입력하세요">
            <div class="field-error" th:errors="*{nickname}">
                가격 오류
            </div>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="text" id="password" th:field="*{password}"
                   th:errorclass="field-error" class="form-control" placeholder="비밀번호를 입력하세요">
            <div class="field-error" th:errors="*{password}">
                가격 오류
            </div>
        </div>

        <div>
            <label for="contents">내용</label>
            <input type="text" id="contents" th:field="*{contents}"
                   th:errorclass="field-error" class="form-control" placeholder="내용을 입력하세요">
            <div class="field-error" th:errors="*{contents}">
                수량 오류
            </div>

        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">게시물 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='main-page.html'"
                        th:onclick="|location.href='@{/mainpage/view}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>