<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.mainPage}">게시물 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/mainpage/add}'|"
                    type="button" th:text="#{button.save}">게시물 작성</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.post.id}">게시물 id</th>
                <th th:text="#{label.post.subject}">제목</th>
                <th th:text="#{label.post.nickname}">닉네임</th>
                <th th:text="#{label.post.uploadTime}">작성 시각</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">게시물 id</a></td>
                <td><a href="post.html" th:href="@{|/mainpage/view/${post.id}|}" th:text="${post.subject}">subject</a></td>
                <td th:text="${post.nickname}">user1</td>
                <td th:text="${{post.uploadTime}}">10:00</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>