<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.viewPost}">게시물 조회</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="postId" th:text="#{label.post.id}">게시물 id</label>
        <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${post.id}" readonly>
    </div>
    <div>
        <label for="subject" th:text="#{label.post.subject}">제목</label>
        <input type="text" id="subject" name="subject" class="form-control" value="상품A" th:value="${post.subject}" readonly>
    </div>
    <div>
        <label for="nickname" th:text="#{label.post.nickname}">작성자</label>
        <input type="text" id="nickname" name="nickname" class="form-control" value="10000" th:value="${post.nickname}" readonly>
    </div>
    <div>
        <label for="uploadTime" th:text="#{label.post.uploadTime}">작성 시각</label>
        <input type="text" id="uploadTime" name="uploadTime" class="form-control" value="10000" th:value="${{post.uploadTime}}" readonly>
    </div>
    <div>
        <label for="editTime" th:text="#{label.post.editTime}">수정 시각</label>
        <input type="text" id="editTime" name="editTime" class="form-control" value="10000" th:value="${{post.editTime}}" readonly>
    </div>
    <div>
        <label for="contents" th:text="#{label.post.contents}">내용</label>
        <input type="text" id="contents" name="contents" class="form-control" value="10" th:value="${post.contents}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/mainpage/edit/{postId}(postId=${post.id})}'|"
                    type="button" th:text="#{button.edit}">게시물 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/mainpage/delete/{postId}(postId=${post.id})}'|"
                    type="button" th:text="#{button.delete}">게시물 삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/mainpage/view}'|"
                    type="button" th:text="#{button.cancel}">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>